<html>

<body>

<p><strong><%= name %></strong></p>
<p><%= gender %> <%= race %></p>

<hr />
<strong>Statistics</strong>
<hr />

<strong>ST</strong> <%= strength %>, <strong>DX</strong> <%= dexterity %>, <strong>IQ</strong> <%= intelligence %>, <strong>HT</strong> <%= health %>

</body>

</html>